@import "bootstrap/dist/css/bootstrap";

.navbar-brand {
  font-size: 3rem;
}

.row div {
  margin: 0.5rem 0rem;
}

.search-area {
  padding-top: 50px;
}

.results-block {
  display: inline-block !important;
}
